<robot name = "robot">
    <link name="010">
        <inertial>
            <origin xyz="0.0 0.8 0.35000000000000003" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.8 0.35000000000000003" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.8 0.35000000000000003" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="010_020" type="continuous">
       <parent link="010"/>
       <child  link="020"/>
       <origin rpy="0 0 0" xyz="0.0 1.2000000000000002 0.7000000000000001" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="020">
        <inertial>
            <origin xyz="0.0 0.3999999999999999 -0.35000000000000003" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.3999999999999999 -0.35000000000000003" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.3999999999999999 -0.35000000000000003" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="020_031" type="revolute">
       <parent link="020"/>
       <child  link="031"/>
       <origin rpy="0 0 0" xyz="0.0 0.8000000000000003 -1.1102230246251565e-16" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="031">
        <inertial>
            <origin xyz="0.0 0.3999999999999999 0.3500000000000001" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.3999999999999999 0.3500000000000001" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.3999999999999999 0.3500000000000001" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="010_100" type="continuous">
       <parent link="010"/>
       <child  link="100"/>
       <origin rpy="0 0 0" xyz="0.1 0.4 0.35000000000000003" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="100">
        <inertial>
            <origin xyz="0.1 -0.4 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1 -0.4 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1 -0.4 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="020_110" type="continuous">
       <parent link="020"/>
       <child  link="110"/>
       <origin rpy="0 0 0" xyz="0.1 0.0 -0.35000000000000003" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="110">
        <inertial>
            <origin xyz="0.1 -0.40000000000000013 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1 -0.40000000000000013 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1 -0.40000000000000013 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="010_111" type="continuous">
       <parent link="010"/>
       <child  link="111"/>
       <origin rpy="0 0 0" xyz="0.1 0.8 0.7000000000000001" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="111">
        <inertial>
            <origin xyz="0.1 0.0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1 0.0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1 0.0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="111_112" type="continuous">
       <parent link="111"/>
       <child  link="112"/>
       <origin rpy="0 0 0" xyz="0.1 -0.4 0.7000000000000001" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="112">
        <inertial>
            <origin xyz="0.0 0.4 0.3500000000000001" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.4 0.3500000000000001" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.4 0.3500000000000001" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="110_121" type="revolute">
       <parent link="110"/>
       <child  link="121"/>
       <origin rpy="0 0 0" xyz="0.1 0.0 0.3499999999999999" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="121">
        <inertial>
            <origin xyz="0.0 0.3999999999999999 0.3500000000000001" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.3999999999999999 0.3500000000000001" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.3999999999999999 0.3500000000000001" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="121_130" type="continuous">
       <parent link="121"/>
       <child  link="130"/>
       <origin rpy="0 0 0" xyz="0.0 0.8000000000000003 1.1102230246251565e-16" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="130">
        <inertial>
            <origin xyz="0.0 0.3999999999999999 -0.35000000000000003" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.3999999999999999 -0.35000000000000003" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.3999999999999999 -0.35000000000000003" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="031_131" type="revolute">
       <parent link="031"/>
       <child  link="131"/>
       <origin rpy="0 0 0" xyz="0.1 0.3999999999999999 0.3500000000000001" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="131">
        <inertial>
            <origin xyz="0.1 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="100_200" type="continuous">
       <parent link="100"/>
       <child  link="200"/>
       <origin rpy="0 0 0" xyz="0.20000000000000004 -0.8 0.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="200">
        <inertial>
            <origin xyz="0.09999999999999998 0.4 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.09999999999999998 0.4 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.09999999999999998 0.4 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="112_202" type="continuous">
       <parent link="112"/>
       <child  link="202"/>
       <origin rpy="0 0 0" xyz="0.10000000000000003 0.0 0.3500000000000001" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="202">
        <inertial>
            <origin xyz="0.09999999999999998 -0.4 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.09999999999999998 -0.4 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.09999999999999998 -0.4 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="200_210" type="revolute">
       <parent link="200"/>
       <child  link="210"/>
       <origin rpy="0 0 0" xyz="0.0 0.8 0.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="210">
        <inertial>
            <origin xyz="0.09999999999999998 0.4 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.09999999999999998 0.4 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.09999999999999998 0.4 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="112_212" type="revolute">
       <parent link="112"/>
       <child  link="212"/>
       <origin rpy="0 0 0" xyz="0.10000000000000003 0.4 0.7" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="212">
        <inertial>
            <origin xyz="0.09999999999999998 0.0 -0.34999999999999987" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.09999999999999998 0.0 -0.34999999999999987" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.09999999999999998 0.0 -0.34999999999999987" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="212_221" type="revolute">
       <parent link="212"/>
       <child  link="221"/>
       <origin rpy="0 0 0" xyz="0.09999999999999998 0.40000000000000013 -0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="221">
        <inertial>
            <origin xyz="0.0 0.3999999999999999 -0.3500000000000001" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.3999999999999999 -0.3500000000000001" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.3999999999999999 -0.3500000000000001" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="221_222" type="continuous">
       <parent link="221"/>
       <child  link="222"/>
       <origin rpy="0 0 0" xyz="0.0 0.3999999999999999 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="222">
        <inertial>
            <origin xyz="0.0 0.0 0.3500000000000001" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.3500000000000001" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.3500000000000001" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="131_230" type="continuous">
       <parent link="131"/>
       <child  link="230"/>
       <origin rpy="0 0 0" xyz="0.20000000000000004 0.0 -0.35" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="230">
        <inertial>
            <origin xyz="0.09999999999999998 0.0 -0.35000000000000003" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.09999999999999998 0.0 -0.35000000000000003" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.09999999999999998 0.0 -0.35000000000000003" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="222_231" type="revolute">
       <parent link="222"/>
       <child  link="231"/>
       <origin rpy="0 0 0" xyz="0.0 0.40000000000000036 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="231">
        <inertial>
            <origin xyz="0.0 0.3999999999999999 -0.3500000000000001" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.3999999999999999 -0.3500000000000001" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.3999999999999999 -0.3500000000000001" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="202_102" type="revolute">
       <parent link="202"/>
       <child  link="102"/>
       <origin rpy="0 0 0" xyz="0.0 -0.4 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="102">
        <inertial>
            <origin xyz="-0.10000000000000003 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.10000000000000003 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.10000000000000003 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
    <joint name="121_132" type="revolute">
       <parent link="121"/>
       <child  link="132"/>
       <origin rpy="0 0 0" xyz="0.0 0.8000000000000003 0.7000000000000002" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="132">
        <inertial>
            <origin xyz="0.0 0.3999999999999999 0.3500000000000001" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.3999999999999999 0.3500000000000001" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.3999999999999999 0.3500000000000001" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.8 0.7000000000000001" />
            </geometry>
        </collision>
    </link>
</robot>