<robot name = "robot">
    <link name="002">
        <inertial>
            <origin xyz="0.0 0.0 1.25" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 1.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 1.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="002_101" type="revolute">
       <parent link="002"/>
       <child  link="101"/>
       <origin rpy="0 0 0" xyz="0.25 0.0 1.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="101">
        <inertial>
            <origin xyz="0.25 0.0 -0.25" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.25 0.0 -0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.25 0.0 -0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="101_112" type="revolute">
       <parent link="101"/>
       <child  link="112"/>
       <origin rpy="0 0 0" xyz="0.25 0.25 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="112">
        <inertial>
            <origin xyz="0.0 0.25 0.25" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.25 0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.25 0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="112_121" type="continuous">
       <parent link="112"/>
       <child  link="121"/>
       <origin rpy="0 0 0" xyz="0.0 0.5 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="121">
        <inertial>
            <origin xyz="0.0 0.25 -0.25" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.25 -0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.25 -0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="112_122" type="continuous">
       <parent link="112"/>
       <child  link="122"/>
       <origin rpy="0 0 0" xyz="0.25 0.5 0.25" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="122">
        <inertial>
            <origin xyz="-0.25 0.25 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.25 0.25 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.25 0.25 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="121_130" type="revolute">
       <parent link="121"/>
       <child  link="130"/>
       <origin rpy="0 0 0" xyz="0.0 0.5 -0.5" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="130">
        <inertial>
            <origin xyz="0.0 0.25 -0.25" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.25 -0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.25 -0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="122_131" type="continuous">
       <parent link="122"/>
       <child  link="131"/>
       <origin rpy="0 0 0" xyz="-0.25 0.5 -0.25" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="131">
        <inertial>
            <origin xyz="0.0 0.25 -0.25" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.25 -0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.25 -0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="131_132" type="continuous">
       <parent link="131"/>
       <child  link="132"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="132">
        <inertial>
            <origin xyz="0.0 0.25 0.25" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.25 0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.25 0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="101_201" type="revolute">
       <parent link="101"/>
       <child  link="201"/>
       <origin rpy="0 0 0" xyz="0.5 0.25 -0.25" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="201">
        <inertial>
            <origin xyz="0.25 -0.25 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.25 -0.25 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.25 -0.25 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="130_220" type="revolute">
       <parent link="130"/>
       <child  link="220"/>
       <origin rpy="0 0 0" xyz="0.25 0.0 -0.25" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="220">
        <inertial>
            <origin xyz="0.25 -0.25 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.25 -0.25 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.25 -0.25 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="131_231" type="continuous">
       <parent link="131"/>
       <child  link="231"/>
       <origin rpy="0 0 0" xyz="0.25 0.25 -0.25" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="231">
        <inertial>
            <origin xyz="0.25 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.25 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.25 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="122_232" type="continuous">
       <parent link="122"/>
       <child  link="232"/>
       <origin rpy="0 0 0" xyz="0.0 0.5 0.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="232">
        <inertial>
            <origin xyz="0.25 0.25 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.25 0.25 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.25 0.25 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="131_030" type="continuous">
       <parent link="131"/>
       <child  link="030"/>
       <origin rpy="0 0 0" xyz="-0.25 0.25 -0.5" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="030">
        <inertial>
            <origin xyz="-0.25 0.0 -0.25" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.25 0.0 -0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.25 0.0 -0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="131_031" type="revolute">
       <parent link="131"/>
       <child  link="031"/>
       <origin rpy="0 0 0" xyz="-0.25 0.5 -0.25" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="031">
        <inertial>
            <origin xyz="-0.25 -0.25 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.25 -0.25 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.25 -0.25 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="122_032" type="revolute">
       <parent link="122"/>
       <child  link="032"/>
       <origin rpy="0 0 0" xyz="-0.5 0.5 0.0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="032">
        <inertial>
            <origin xyz="-0.25 0.25 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.25 0.25 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.25 0.25 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="101_100" type="revolute">
       <parent link="101"/>
       <child  link="100"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 -0.5" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="100">
        <inertial>
            <origin xyz="0.25 0.0 -0.25" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.25 0.0 -0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Green">
                <color rgba="0.4 1 0.4 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.25 0.0 -0.25" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="100_010" type="continuous">
       <parent link="100"/>
       <child  link="010"/>
       <origin rpy="0 0 0" xyz="0.0 0.25 -0.25" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="010">
        <inertial>
            <origin xyz="-0.25 0.25 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.25 0.25 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.25 0.25 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5" />
            </geometry>
        </collision>
    </link>
</robot>